button {
    border-radius: 30px;
    color:white;
    text-align: center;
    padding: 10x 24px;
    font-size: 10px;
    width: 12%
    
    
}
.button {
    background-color: green;
}
.form-grid {
    display: grid;
}