/* button {
    border-radius: 30px;
    
    text-align: center;
    padding: 10x 24px;
    font-size: 10px;
    
    
    
} */
.button {
    background-color: green;
    border-radius: 30px;
    color:white;
    width: 12%
}
.form-grid {
    display: grid;
}