.button {
    background-color:transparent;
    margin: 1em ; 
    width: 3px;
    height: 5px;
    border:none;
    text-align: center;
    margin: 2px 4px;
    border-radius: 10px;
    cursor:pointer

    
}
.inactive {
    color: black;
}
.active {
    color: red;
}